<h1>Search results</h1>
<div class="container">
  <div class="row">
    <h1>All recipes</h1>
    <p>Testing</p>
  </div>
  <div class="recipe-cards">
    <% @recipes.each do |recipe| %>
      <div class="card-category" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path "#{recipe.image_url}" %>)'>
        <%="#{recipe.title}"%>
      </div>
    <% end %>
  </div>

</div>
