<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);">
  <div class="container">
    <h1>Outta Thyme</h1>
    <p>In a rush? Let's see what you've got...</p>
    <%# <%= link_to "Search my ingredients", recipes_path, class: "btn btn-flt" %>

    <%= simple_form_for :search, url: search_path, method: :post do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="ingredient" id="search_query" placeholder="Enter ingredient" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>

  </div>
</div>
